.qodef-portfolio-filter-holder-inner .qodef-portfolio-filter-parent-categories {
    margin-bottom: 5px;
}

.qodef-portfolio-filter-holder-inner ul {
    display: block;
    list-style: none;
    vertical-align: middle;
}

.qodef-portfolio-filter-holder-inner ul li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    padding: 0 15px;
    padding-left: 15px;
}

.qodef-portfolio-filter-holder-inner .qodef-portfolio-filter-child-categories {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    position: absolute;
}